* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-container {
	display: flex;
	min-height: 100vh;
}
main {
	padding: 10px;
}

.title {
	font-size: 3rem;
	display: grid;
	place-items: center;
}

.sidebar {
	/* background: rgb(0, 7, 61); */
	background: #198754;
	color: white;
	min-height: 100vh;
}

.top_section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 10px;
	/* display: flex; */
	/* align-self: flex-start; */
}
.logo {
	font-size: 18px;
	line-height: 0;
}
.logo_image {
	height: 50px;
	width: 50px;
	margin-right: 1rem;
}
.bars {
	width: 30px;
}
.hide {
	display: none;
}

.routes {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.link {
	display: flex;
	color: white;
	gap: 10px;
	padding: 10px 15px;
	border-right: 4px solid transparent;
	transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
	text-decoration: none;
}
.link:hover {
	border-right: 4px solid white;
	/* background: rgb(178, 186, 242); */
	background: #115c39;
	color: aliceblue;
	transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active {
	border-right: 4px solid white;
	/* background: rgb(178, 186, 242); */
	background: #115c39;
}
.link_text {
	white-space: nowrap;
	font-size: 15px;
}

.menu {
	display: flex;
	color: white;

	padding: 10px 15px;
	border-right: 4px solid transparent;
	transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
	justify-content: space-between;
}
.menu:hover {
	border-right: 4px solid white;
	/* background: rgb(178, 186, 242); */
	background: #115c39;
	/* color: aliceblue; */
	/* transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045); */
}
.menu_item {
	display: flex;
	gap: 10px;
}
.menu_container {
	display: flex;
	flex-direction: column;
}
.menu_container .link {
	padding-left: 20px;
	/* border-bottom: #fff 0.5px solid; */
}

.logout__btn {
	margin: 1em;
	/* padding: 1em; */
	font-size: larger;
	padding: 0.25em 1.875em;
	color: white;
	background: #47cf5d;
	border-radius: 8px;
	border: 0px;
	bottom: 0px;
	position: absolute;
}

